@import "mReset.css";
#tListWra {
    position: relative;
    min-height: 100vh;
    padding-bottom: 10px;
    background-color: #f7f7f7;
    .t-head {
        height: 120px;
        background-size: 100%;
        background-position: 50%;
        background-repeat: no-repeat;
        display: flex;
        // background-color: #000;
    }
    .h-left {
        display: inline-block;
        margin: 10px;
        vertical-align: middle;
        .img-head {
            width: 100px;
            height: 100px;
            vertical-align: middle;
            background-size: cover;
            background-position: 50%;
            background-repeat: no-repeat;
            border-radius: 4px;
        }
    }
    .h-right {
        display: inline-block;
        vertical-align: middle;
        margin-top: 28px;
        .student-name{
            .text {
                line-height: 2.5;
                font-size: 16px;
                color: #fff;
            }
        }
        .h-r-title {
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;
            letter-spacing: 2px;
            font-weight: 600;
            color: #fff;
        }
        .h-r-des {
            margin-top: 10px;
            .r-comment-sum {
                display: inline-block;
                font-size: 14px;
                color: #f8f8f8;
            }
            .r-comment-sum:nth-of-type(1) {
                margin-right: 8px;
            }
        }
    }
    .main-show {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        .topic-list {
            // margin-top: 10px;
            font-size: 0;
            .topic-item-b {
                overflow: hidden;
                padding-bottom: 4px;
                box-sizing: content-box;
                height: 144px;
                border-bottom: 1px solid rgb(224, 224, 224);
            }
            .text-none {
                padding: 10px 0;
                font-size: 16px;
                text-align: center;
                color: #808080;
                border: none;
            }
            .topic-item {
                display: flex;
                overflow-x: auto;
                padding-bottom: 20px;
                background-color: #fff;
            }
            .delet-bar {
                line-height: 144px;
                display: flex;
                .delet-text,
                .re-send {
                    width: 80px;
                    line-height: 144px;
                    font-size: 16px;
                    text-align: center;
                    height: 100%;
                    background-color: red;
                    color: #fff;
                }
                .re-send {
                    background-color: #30c230;
                }
            }
            .detail-link {
                display: inline-block;
                width: 100vw;
                padding: 11px 0;
                color: #333;
                .topic-show-item {
                    width: 100vw;
                    margin-bottom: 4px;
                    padding: 0 10px;
                    .icon-show {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        margin-right: 4px;
                        margin-bottom: 2px;
                        line-height: 20px;
                        vertical-align: middle;
                        text-align: center;
                        border-radius: 4px;
                        font-size: 12px;
                        color: #fff;
                        background-color: rgb(48, 194, 48);
                    }
                    .titile {
                        display: inline-block;
                        width: 80%;
                        line-height: 1.5;
                        font-size: 18px;
                        vertical-align: middle;
                    }
                }
                .topic-des {
                    margin: 0 10px 4px 20px;
                    line-height: 1.2;
                    min-height: 51px;
                    font-size: 16px;
                    color: #666;
                }
                .topic-item-bot {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 20px;
                    font-size: 14px;
                    color: #adadad;
                    .pre-icon {
                        margin-right: 4px;
                        padding: 2px;
                        border-radius: 2px;
                        line-height: 1;
                        vertical-align: middle;
                        text-align: center;
                        font-size: 12px;
                        color: rgb(253, 255, 133);
                        background-color: rgb(87, 174, 255);
                    }
                }
                .t-author {}
                .t-time {}
                .com-like-num {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0 10px;
                    font-size: 14px;
                    color: #adadad;
                    .left {
                        margin-top: 8px;
                    }
                    .right {
                        display: flex;
                        justify-content: flex-start;
                    }
                    .sent-status {
                        color: #333;
                    }
                    .re-sent {
                        display: inline-block;
                        padding: 0 4px;
                        border-radius: 4px;
                        height: 20px;
                        line-height: 20px;
                        text-align: center;
                        background-color: rgb(255, 80, 80);
                        color: #fff;
                    }
                }
                .com-like {
                    margin-right: 10px;
                }
                .com-img {
                    margin-right: 5px;
                    margin-bottom: 2px;
                    display: inline-block;
                    vertical-align: middle;
                    width: 16px;
                }
                .com-num {
                    margin-right: 10px;
                    margin-top: 9px
                }
                .like-text {
                    vertical-align: -6px;
                }
                .like-img {
                    display: inline-block;
                    width: 23px;
                    height: 24px;
                    vertical-align: middle;
                    margin-right: 0px;
                    background-repeat: no-repeat;
                    background-size: 483px 28px;
                    background-position: left;
                }
            }
        }
    }
    .fb-link {
        position: fixed;
        z-index: 9999;
        bottom: 20px;
        right: 20px;
        .link-to-fb {
            display: inline-block;
            width: 60px;
            height: 60px;
            line-height: 60px;
            border-radius: 50%;
            text-align: center;
            vertical-align: middle;
            background-image: linear-gradient(135deg, #64aff5, #4ca3f5);
            box-shadow: 2px 2px 6px #adadad;
            img {
                display: inline-block;
                margin: 0 auto;
                width: 34px;
                height: 34px;
                vertical-align: middle;
            }
            .bg-btn {
                background-size: cover;
                background-position: 50%;
                background-repeat: no-repeat;
            }
        }
    }
}